extends layout

block content
  .form
    .login.hide#loginForm
      input#username(placeholder='Insert Your Username')
      button.btn.btn-login#sendLogin LOGIN
    .post.hide#postForm
      textarea#msg(rows=1, placeholder='Your Message')
      button.btn.btn-post#sendMsg &#9654;

  .messages#messages

    //- +msg("Zain", "miawmi awefe we ew")(class="own")
    //- +msg('Anda', 'makan nasi goreng sungguh sedap')(class="others")

  mixin msg(name, msg)
    .msg&attributes(attributes)
      .user
        .hide.avatar&attributes(attributes)
          .initial= name.split("")[0]
        .name=　name

      .text= msg